
<div class="wrapper-projects  mb-5">
        <div class="title pjt"> <i class="fa-solid fa-rocket"></i> Projects</div>

        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-pjt mb-3 border border-2">
              <%= image_tag project.image, alt: "project image", class:"card-img-top" %>
            <div class="card-body">
                            <h4 class="card-title"> <%= project.name %></h4>
                            <p class="card-text"><%= project.description %></p>
                            <p><i class="fa-solid fa-wand-magic-sparkles"></i> <%= project.role %></p>
                            <p><%= project.info %></p>
                            <p>Tech-stack: <%= project.stack %></p>
                              <% link_to project.url,  target: '_blank' do %>
                              <button type="button" class="btn btn-outline-secondary">Link <i class="fas fa-external-link-alt" ></i></button>
                              <% end %>
                              </div>
                        </div>
          <% end %>
            </div>
            </div>
</div>
