
<div class="wrapper-projects  mb-5">
        <div class="title pjt"> <i class="fa-solid fa-rocket"></i> Projects</div>

        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-pjt mb-3 border border-2">
              <%= image_tag project.image, alt: "project image", class:"card-img-top" %>
            <div class="card-body">
                            <h4 class="card-title"> <%= project.name %></h4>
                            <p class="card-text"><%= project.description %></p>
                            <p><i class="fa-solid fa-wand-magic-sparkles"></i> <%= project.role %></p>
                            <p><%= project.info %></p>
                            <p>Tech-stack: <%= project.stack %></p>
                            <p class="teck-stack"> <a href="https://www.figma.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma"/> </a> <a href="https://heroku.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku"/> </a> <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript"/> </a> <a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql"/> </a> <a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python"/> </a> <a href="https://rubyonrails.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails"/> </a> <a href="https://www.ruby-lang.org/en/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby"/> </a> </p>
                              <% link_to project.url,  target: '_blank' do %>
                              <button type="button" class="btn btn-outline-secondary">Link <i class="fas fa-external-link-alt" ></i></button>
                              <% end %>
                              </div>
                        </div>
          <% end %>
            </div>
            </div>
</div>
